.four-position-setting-area{
    grid-area: 1 / 2 / -1 / 3;
    display: grid;
    grid-template-columns: 36px 1fr 36px;
    grid-template-rows: 24px minmax(8px, 1fr) 24px;
    justify-items: center;
    width: 172px;
    height: 56px;
}

.four-position-setting-bg-svg {
    grid-area: 1 / 1 / -1 / -1;
    overflow: hidden;
    border-radius: 2px;
    filter: drop-shadow(rgba(255, 255, 255, 0.2) 0px -0.5px 0px) drop-shadow(rgba(0, 0, 0, 0.4) 0px 0px 1px) drop-shadow(rgba(0, 0, 0, 0.2) 0px 1px 0px);
}