.z-index-input-setting{
    grid-column-start: 4;
    grid-row-start: 1;
}
.z-index-input-label{
    cursor: default;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 11px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    display: inline-flex;
    padding: 2px;
    margin-left: -2px;
    border-radius: 2px;
    max-width: 100%;
    box-sizing: content-box;
    justify-self: center;
    position: relative;
    opacity: 1;
    grid-column-start: 4;
    grid-row-start: 2;
}