@use "../quasar-variables.sass" as *;

.q-table th {
  font-weight: 700;
  font-size: 16px;
  -webkit-user-select: none;
  user-select: none;
}

.q-table tbody td {
  font-size: 15px;
}

.left-drawer .q-expansion-item {
  font-size: 16px;
}

.left-drawer .q-expansion-item .q-btn__content {
  text-align: left;
}

.q-btn {
  font-size: 16px;
}

.q-item {
  min-height: 40px;
}

.q-item__section--side {
  padding-right: 0px;
}

.ultra-densed-q-table {
  thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: $primary;
    color: white;
  }

  td,
  th {
    border: 0.5px solid #dddddd;
    // text-align: left;
    padding: 1px 5px;
  }

  tr:nth-child(even) {
    background-color: rgba(185, 183, 183, 0.1);
  }

  tr:last-child {
    font-size: 18px;
  }

  .q-table thead tr,
  .q-table tbody td {
    height: auto;
  }
}

.report-table-container {
  thead tr:first-child th {
    background-color: #d9e1ff;
    color: black;
  }

  td,
  th {
    border: 0.5px solid #dddddd;
    padding: 0px 5px !important;
  }

  tr:nth-child(even) {
    background-color: #d9e1ff;
  }

  tr:last-child {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.q-layout-padding {
  padding: 10px !important;
}

.q-btn--rectangle {
  border-radius: 6px;
}

.q-field--outlined .q-field__control {
  border-radius: 6px;
  // padding: 0 12px;
}

.q-field__control {
  background-color: #fff;
}

.q-card {
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  // vertical-align: top;
  // background: #fff;
  // position: relative;
}
.q-table__card {
  // color: #000;
  // background-color: #fff;
  border-radius: 6px;
  // box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.input-label {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-wrap: nowrap;
}

.hide-ri .q-btn-dropdown__arrow {
  display: none;
}
.m-0-ri .q-btn-dropdown__arrow {
  margin-left: 5px;
  width: 10px;
}
.m-0-li .q-icon.on-left {
  margin-right: 5px;
  width: 10px;
}

.barcode {
  float: left;
  background: #fff;
  width: 38mm;
  height: 25mm;
  padding: 0px;
  border-radius: 4px;
  border: 1px solid #fff;
  text-align: center;
}
