.drop-zone-top{
    width: 100%;
    height: 0px;
    position: absolute;
    top: 0px;
    z-index:99999;
}
.drop-zone-top-inner{
    width: 100%;
    height: 5px;
    background-color: gray;
    position: absolute;
    top: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity: 0.2;
    /* transform: translate(0%, -50%) */
}
.drop-zone-top-inner:hover{
    height: 15px;
    opacity: 1;
}
.drop-zone-bottom{
    width: 100%;
    height: 0px;
    position: absolute;
    bottom: 0px;
    z-index:99999;
}
.drop-zone-bottom-inner{
    width: 100%;
    height: 5px;
    background-color: gray;
    position: absolute;
    bottom: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity: 0.2;
    /* transform: translate(0%, 50%); */
}
.drop-zone-bottom-inner:hover{
    height: 15px;
    opacity: 1;
}
.drop-zone-left{
    width: 0px;
    height: 100%;
    position: absolute;
    left: 0px;
    z-index:99999;
}
.drop-zone-left-inner{
    width: 5px;
    height: 100%;
    background-color: gray;
    position: absolute;
    left: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity: 0.2;
    /* transform: translate(-50%, 0%); */
}
.drop-zone-left-inner:hover{
    width: 15px;
    opacity: 1;
}
.drop-zone-right{
    width: 0px;
    height: 100%;
    position: absolute;
    right: 0px;
    z-index:99999;
}
.drop-zone-right-inner{
    width: 5px;
    height: 100%;
    background-color: gray;
    position: absolute;
    right: 0px;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity: 0.2;
    /* transform: translate(0%, 0%); */
}
.drop-zone-right-inner:hover{
    width: 15px;
    opacity: 1;
}
